.summaryContainer {
    background-color: #6AB187;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

span {
    background-color: #F4CC70
}

.resultContainer {
    background-color: #DE7a22;
    display: flex;
    justify-content: space-around;
}

.scoreContainer {
    background-color: #F4CC70;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    padding: 15px;
}